<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Snowdays</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>authentication.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUni</display-name>
    <servlet-name>ChangeUni</servlet-name>
    <servlet-class>dbConnection.ChangeUni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUni</servlet-name>
    <url-pattern>/ChangeUni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUniversity</display-name>
    <servlet-name>AddUniversity</servlet-name>
    <servlet-class>dbConnection.AddUniversity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUniversity</servlet-name>
    <url-pattern>/AddUniversity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUni</display-name>
    <servlet-name>DeleteUni</servlet-name>
    <servlet-class>dbConnection.DeleteUni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUni</servlet-name>
    <url-pattern>/DeleteUni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>dbConnection.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>dbConnection.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBQuery</display-name>
    <servlet-name>DBQuery</servlet-name>
    <servlet-class>dbConnection.DBQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBQuery</servlet-name>
    <url-pattern>/DBQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>dbConnection.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParticipant</display-name>
    <servlet-name>AddParticipant</servlet-name>
    <servlet-class>dbConnection.AddParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipant</servlet-name>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipant</display-name>
    <servlet-name>DeleteParticipant</servlet-name>
    <servlet-class>dbConnection.DeleteParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipant</servlet-name>
    <url-pattern>/DeleteParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditParticipant</display-name>
    <servlet-name>EditParticipant</servlet-name>
    <servlet-class>dbConnection.EditParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditParticipant</servlet-name>
    <url-pattern>/EditParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUniversity</display-name>
    <servlet-name>EditUniversity</servlet-name>
    <servlet-class>dbConnection.EditUniversity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUniversity</servlet-name>
    <url-pattern>/EditUniversity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>dbConnection.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComment</display-name>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>dbConnection.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticle</display-name>
    <servlet-name>AddArticle</servlet-name>
    <servlet-class>dbConnection.AddArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticle</servlet-name>
    <url-pattern>/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticle</display-name>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>dbConnection.DeleteArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/DeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditComment</display-name>
    <servlet-name>EditComment</servlet-name>
    <servlet-class>dbConnection.EditComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditComment</servlet-name>
    <url-pattern>/EditComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditArticle</display-name>
    <servlet-name>EditArticle</servlet-name>
    <servlet-class>dbConnection.EditArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditArticle</servlet-name>
    <url-pattern>/EditArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArticle</display-name>
    <servlet-name>ViewArticle</servlet-name>
    <servlet-class>dbConnection.ViewArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticle</servlet-name>
    <url-pattern>/ViewArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prova</display-name>
    <servlet-name>Prova</servlet-name>
    <servlet-class>Prova</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prova</servlet-name>
    <url-pattern>/Prova</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintBadge</display-name>
    <servlet-name>PrintBadge</servlet-name>
    <servlet-class>dbConnection.PrintBadge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintBadge</servlet-name>
    <url-pattern>/PrintBadge</url-pattern>
  </servlet-mapping>
</web-app>